
<div class="pricing-item">
  <!-- View item price info -->
  <div class="price-view" *ngIf="!showForm">
    <span>{{ itemValue }}</span>
    <button
      mat-icon-button
      type="button"
      (click)="onToggleForm($event)"
      class="price-edit-button"
    >
      <mat-icon inline id="edit-price-{{ pricingItem?.htmlDisplay }}">edit</mat-icon>
    </button>
  </div>
  <!-- End of view item price info -->

  <!-- Item price editing -->
  <div class="price-edit d-flex w-100 align-items-center" *ngIf="showForm">
    <app-form
      class="w-100"
      [fields]="[pricingItemField]"
      [fieldClass]="'item-price-input-' + pricingItem?.htmlDisplay"
      (formUpdate)="onPriceUpdate($event)"
    ></app-form>
    <app-form
      class="w-100"
      [fields]="[payableItemField]"
      [fieldClass]="'item-price-input-' + pricingItem?.htmlDisplay"
      (formUpdate)="onPayableUpdate($event)"
    ></app-form>

    <button
      mat-stroked-button
      type="button"
      (click)="onToggleForm($event)"
      class="ml-1 mt-n3"
      style="height: 36px"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      mat-flat-button
      type="button"
      id="save-price-btn-{{ pricingItem?.htmlDisplay }}"
      class="ml-2 mt-3"
      color="primary"
      [disabled]="!formValue?.isValid"
      (click)="onSaveItemPrice($event)"
      style="height: 36px"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <!-- End of price editing -->
</div>

