<app-shared-error [errors]="errors"></app-shared-error>
<div *ngIf="{ visits: visits$ | async } as params" class="w-100">
    <div>
        <!-- Search input start -->
        <div class="search-input-card p-2 border mb-3 mt-3">
            <mat-icon matPrefix class="text-muted">search</mat-icon>
            <input class="ml-2 w-100 search-input" matInput autocomplete="off" placeholder="Search Appointment"
                (keyup)="onSearchPatient($event)" />
        </div>
        <!-- Search input start -->
        <div class="patient-list d-flex">
       
            <!-- Filter input start -->
            <!-- <div class="w-100 patient-list-type-toggle-container d-flex">
                <div class="w-75" *ngIf="filters$ | async as filters">
                    <app-appointments-list-filters [filterCategories]="filters"
                        (onFilterChanged)="filterPatientList($event)"></app-appointments-list-filters>
                </div>
                
            </div> -->
            <!-- Filter input start -->


            <!-- {{ params?.visits | json }} -->
            <div class="text-center w-100 mt-5" *ngIf="
                    searchTerm &&
                    (params?.visits | filterBy: searchTerm:'patientName')?.length === 0
                    "
                >
                <h3 class="text-muted">
                    Appointment with keyword "{{ searchTerm }}" could not be found
                </h3>
            </div>

            <mat-progress-bar *ngIf="loadingPatients" mode="indeterminate" class="mb-3"></mat-progress-bar>

            <!-- Tabular list -->
            <div class="tabular-patient-list" *ngIf="
          isTabularList &&
          params?.visits &&
          params?.visits.length > 0 &&
          ((paymentTypeSelected &&
            visit?.visit?.paymentType === paymentTypeSelected) ||
            !paymentTypeSelected)
        ">
                <app-appointments-table [shouldShowParentLocation]="shouldShowParentLocation" [visits]="
            params?.visits | filterBy: searchTerm:'patientName':null:service
          " [paymentTypeSelected]="paymentTypeSelected" (patientVisitDetails)="onSelectPatient(null, $event)"
                    [itemsPerPage]="itemsPerPage" [page]="page"
                    (shouldLoadNewList)="onLoadNewList($event)"></app-appointments-table>
            </div>
            <!-- End of Tabular list -->

            <div class="text-center w-100 mt-5" *ngIf="!params?.visits || !params?.visits?.length > 0">
                <h3 class="text-muted">No appointment found</h3>
            </div>
        </div>
    </div>

    <div *ngIf="params?.visits">
        <div class="d-flex justify-content-end mt-2 mb-2"
            *ngIf="!isTabularList && params?.visits && params?.visits.length > 0">
            <button [disabled]="page === 0" mat-stroked-button
                (click)="getAnotherList($event, params?.visits[0], 'prev')">
                Prev
            </button>
            <button [disabled]="
          params?.visits &&
          params?.visits[0]?.visit &&
          !params?.visits[0].visit?.pager &&
          itemsPerPage > params?.visits.length
        " class="ml-2" mat-stroked-button (click)="getAnotherList($event, params?.visits[0], 'next')">
                Next
            </button>
        </div>
    </div>
</div>