<div>
    <mat-toolbar>
        <button mat-icon-button (click)="onBack($event)" matTooltip="Go to Home page">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="ml-2">Messages Schedules </span>
    </mat-toolbar>
    <table>
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Scheduled Send Time</th>
            <th>Message</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of schedules">
            <td>{{ schedule.mother }}</td>
            <td>{{ schedule.scheduledSendTime }}</td>
            <td>{{ schedule.message }}</td>
            <td>{{ schedule.phoneNumber }}</td>
          </tr>
        </tbody>
      </table>
      
</div>